/* border */
:root {
  --border: double;
}
body a img {
  border: var(--border);
}
/* border main */
main blockquote,
main figure,
main h2 {
  border-bottom: var(--border);
  border-top: var(--border);
}
/* border nav */
nav details {
  border-bottom: var(--border);
  border-top: var(--border);
}
/* border others */
#icons a img {
  border-radius: 1em;
}
#jump {
  border-bottom: var(--border);
  border-top: var(--border);
}
