/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: double;
  --radius: 1em;
}
body a img,
body details {
  border: var(--border);
}
/* border main */
main blockquote,
main figure {
  border-top: var(--border);
  border-bottom: var(--border);
}
main h2,
main hr {
  border: none;
  border-bottom: var(--border);
}
/* border nav */
nav {
  border-top: var(--border);
  border-bottom: var(--border);
}
nav a {
  border: var(--border);
}
nav details > details {
  border: none;
  border-top: var(--border);
}
/* border others */
#icons {
  border-top: var(--border);
  border-bottom: var(--border);
}
#icons a img {
  border: var(--border);
  border-radius: var(--radius);
}
