/*
Border type, thickness, radius, etc.
https://www.w3schools.com/css/css_border.asp
*/
:root {
  --border: double;
}
body a img,
body details {
  border: var(--border);
}
/* border main */
main,
main blockquote,
main figure,
main h1,
main hr {
  border-bottom: var(--border);
  border-top: var(--border);
}
/* border nav */
nav,
nav a,
nav details {
  border-bottom: var(--border);
  border-top: var(--border);
}
/* border others */
#icons,
#jump,
#klf {
  border-bottom: var(--border);
  border-top: var(--border);
}
#icons a img {
  border: var(--border);
  border-radius: 1em;
}
