/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: red;
  --color-boxes: rgba(255,255,255,.91);
  --color-head: saddlebrown;
  --color-link: maroon;
  --color-text: black;
  --text-shadow: 0 1px 0 black;
  --transition: 911ms;
}
body {
  background-blend-mode: luminosity;
  background-color: navajowhite;
  background-image: url("media/baltimorebowling.jpg");
  background-position: center top;
  background-repeat: repeat;
  background-size: auto;
  color: var(--color-text);
}
body a,
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active,
body summary:focus,
body summary:hover,
body summary:active {
  color: var(--color-active);
  transition: var(--transition);
}
/* color main */
main {
  background: var(--color-boxes);
  color: var(--color-text);
}
main b,
main dt,
main strong {
  background: none;
  color: var(--color-active);
}
main blockquote,
main figure {
  background: var(--color-boxes);
  border-color: var(--color-head);
}
main h1,
main h2 {
  border-color: var(--color-head);
  color: var(--color-head);
  text-shadow: var(--text-shadow);
}
/* color nav */
nav {
  background: var(--color-boxes);
}
nav a {
  border-color: transparent;
}
nav a[href="#"] {
  color: var(--color-active);
}
/* color others */
#icons {
  background: var(--color-boxes);
}
#icons img {
  background: white;
}
#jump,
#klf {
  background: var(--color-boxes);
}
