/*
Color coordination for all elements.
https://www.w3schools.com/css/css_colors.asp
*/
:root {
  --color-active: #d00;
  --color-boxes: rgba(255,255,255,.91);
  --color-link: saddlebrown;
  --color-text: black;
  --text-shadow: 1px 1px 0 wheat;
}
body {
  background-attachment: fixed;
  background-blend-mode: luminosity;
  background-color: burlywood;
  background-image: url("media/baltimorebowling.jpg");
  background-position: center top;
  color: var(--color-text);
}
body a,
body a:link,
body a:visited {
  color: var(--color-link);
}
body a:focus,
body a:hover,
body a:active,
body summary:focus,
body summary:hover,
body summary:active {
  color: var(--color-active);
}
/* color main */
main,
main blockquote,
main figure {
  background: var(--color-boxes);
  color: var(--color-text);
}
main b,
main dfn,
main dt,
main strong {
  color: var(--color-active);
}
/* color nav */
nav a {
  text-decoration: none;
  text-shadow: var(--text-shadow);
}
nav a[href="#"] {
  color: var(--color-active);
}
nav details {
  background: var(--color-boxes);
}
/* color others */
#icons {
  background: var(--color-boxes);
}
#icons img {
  background: white;
}
#jump,
#klf {
  background: var(--color-boxes);
}
