/*
Display behavior: block, inline, none, etc.
https://www.w3schools.com/css/css_display_visibility.asp
*/
body {
  display: grid;
}
/* display main */
main cite {
  display: block;
}
/* display nav */
nav a {
  display: block;
}
/* display others */
#klf address {
  display: block;
}
