/*
Margin, padding, and size in relative units: em, rem, vh, etc.
https://www.w3schools.com/css/css_units.asp
*/
:root {
  --marge: 1.5rem auto;
  --padme: .25rem .5rem;
  --puffy: 1rem 2rem;
}
/* embiggen main */
main {
  padding: var(--puffy);
}
main blockquote,
main figure {
  margin: var(--marge);
  padding: var(--padme);
}
main dt,
main p {
  margin: var(--marge);
}
/* embiggen nav */
nav {
  padding: var(--puffy);
}
nav summary {
  width: 100%;
}
/* embiggen others */
#icons {
  padding: var(--padme);
}
#icons img {
  height: 1.75rem;
  margin: 0 1rem;
  width: 1.75rem;
}
#jump a {
  margin: 0 1rem;
}
#klf {
  padding: var(--padme);
}
