/*
Font family, size, weight, etc.
https://www.w3schools.com/css/css_font.asp
*/
html {
  font-family: Courier, monospace;
  font-size: calc(8px + 1vw);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
}
@media all and (min-width: 700px) {
  html {
    font-size: 15px;
  }
}
/* font main */
main blockquote,
main figure {
  font-family: Georgia, serif;
}
main b,
main dfn,
main dt,
main strong {
  font-style: normal;
  font-weight: bold;
}
main dd::before {
  content: "⚫︎ ";
}
/* font nav */
nav {
  font-size: 1.75rem;
  font-variant: small-caps;
  font-weight: bolder;
  text-transform: capitalize;
}
nav a {
  text-decoration: none;
}
nav a[rel="home"] {
  font-size: 2.5rem;
  line-height: 1;
  text-transform: none;
}
/* font others */
#jump a {
  text-decoration: none;
}
#klf {
  font-size: .75rem;
}
