/*
Grid layout for each page.
https://www.w3schools.com/css/css_grid.asp
*/
body {
  grid-column-gap: 0;
  grid-row-gap: .5rem;
  grid-template-areas:
    'nav'
    'main'
    'jump'
    'icons'
    'klf';
  grid-template-columns: minmax(0,1fr);
  grid-template-rows: auto 1fr auto auto auto;
  margin: .5rem auto;
  max-width: 720px;
  min-height: 100vh;
  overflow-y: scroll;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
#icons {
  grid-area: icons;
}
#jump {
  bottom: 0;
  grid-area: jump;
  position: sticky;
}
#klf {
  grid-area: klf;
}
